body{
	padding:0px;
	margin:0px;
}
#navbar{
	height:200px;
	width: 100%;
	position: fixed;
	/**
	background-color:white;
	border-bottom: 1.5pt solid #315DCD;
	**/
	

}
#name{
	padding: 15px;
	font-family: Lobster;
	font-size: 30pt;
	color:darkgrey;
	text-decoration: none;
	/**#315DCD**/
	
}
.items {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	font-family: Lobster;
	color:darkgrey;
	padding:15px;
}
