body{
	padding:0px;
	margin:0px;
}
#navbar{
	height:200px;
	width: 100%;
	position: fixed;
	/**
	background-color:white;
	border-bottom: 1.5pt solid #315DCD;
	**/
	

}
#name{
	padding: 15px;
	font-family: Lobster;
	font-size: 30pt;
	color:white;
	text-decoration: none;
	/**#315DCD**/
	
}
.items {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	font-family: Lobster;
	color:white;
	padding:15px;
}

/**h1{
	font-family: Poppins;
	color: white;
	position: relative;
	top:-450px;
	left:70%;
	font-size: 25pt;

}**/
#background {
	padding:0px;
	margin:0px;
}
/**
.arrow {

 	width: 6vmin;
	height: 6vmin;
  	border: solid black;
  	border-width: 0 8px 8px 0;
  	display: inline-block;
  	padding: 0px;
  	position: relative;
  	top:-300px;
  	left:80%;
  	
}

#top{
	z-index: 1;
	position: relative;
  	top:-200px;
  	left:83%;
  	transform: rotate(45deg);
}
#bottom {
	z-index: 2;
	position: relative;
  	top:-230px;
  	left:80%;
  	transform: rotate(45deg);
}
**/

@keyframes horizontal {
	0% {left:80%;}
	50% {left:82%;}
	100% {left:85%;}
    
}

span{
	position: absolute;
	left:80%;
	top:900px;
	color: white;
	opacity: 0.7;
	animation: horizontal 0.5s ease-in 0s infinite alternate;;
}

span:hover {
	transform: scale(1.2);
	opacity:1;
}











